<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hasami Shogi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A95B10F21BB9C7CF00AB03A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A95B11091BB9C7CF00AB03A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A95B11141BB9C7CF00AB03A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
